<%- include('partials/header.ejs') %>
<body>
    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>
        <% posts.forEach((post)=>{ %>
               <div class="postStyle">
                    <h3><%= post.title %></h3>
                    <p><%= post.content %></p>
               </div>
        <% }) %>
</body>
<%- include('partials/footer.ejs') %>